    .Button1{
      background-color: lightgreen;
      border-style: none;
      border-radius: 8px;
      padding: 4px 15px 4px 15px;
      cursor: pointer;
    }
    .Button3{
      background-color: lightgreen;
      border-style: none;
      border-radius: 8px;
      padding: 4px 15px 4px 15px;
      cursor: pointer;
    }
    .Button2{
      border-width: 1.75px;
      border-radius: 8px;
      padding: 4px 30px 4px 30px;
      cursor: pointer;
    }